/* Clases Especificas */

body {
    font-family: 'Raleway', sans-serif;
}


/* Helpers */


.inline {
    display: inline;
}

.bold {
    font-weight: 600;
}



.textcenter {
    text-align: center;
}

.left {
    padding-left: 0px;
}

.right {
    padding-right: 0px;
}



.textuppercase {
    text-transform: uppercase;
}

.view-mobile {
    display: block;
}

.view-desktop {
    display: none;
}






/* section 1 */

section:first-of-type {
      background: linear-gradient(to bottom right, #711367,  #de1f85);
      height: 100vh;
  
    }

       .vertical-center{
        display: flex;
        align-items: center;
        justify-content: center;
       }

/* Home */
.home{
    background-image: url('../assets/images/background.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center 93%;
    background-size: cover;
}

/* @media querys */

@media (min-width: 768px) {

    /* ****** */
    .view-mobile {
        display: none;
    }
    .view-desktop {
        display: block;
    }
    .modal-sm {
        width: 480px;
    }
    .modal-lg {
        width: 480px;
    }
}

