/* Clases Especificas */

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Helpers */

.row {
  margin-bottom: 0px;
}

hr {
  width: 90%;
  height: 1px;
  border: 0;
  background-color: #d6d2d2;
}

.btn,
.btn-large {
  background-color: #ea0b8c;
  font-weight: bold;
  width: 200px;
}

.center {
  margin: 0 auto;
  display: flex;
}

.back {
  margin-top: 40px;
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid;
  font-weight: bold;
}

.larg {
  position: absolute;
  top: -20px;
  left: 90px;
  color: white;
}

/* css index */

.splash {
  background: linear-gradient(to bottom right, #711367, #de1f85);
  height: 100vh;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Home */

.home {
  background-image: url('../assets/images/background.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center 93%;
  background-size: cover;
}

.links {
  position: absolute;
  bottom: 50px;
}

.links a {
  border: 1px solid white;
  padding: 15px;
  color: white;
  font-weight: bold;
}

/* Sign up */

.title {
  font-weight: bold;
}

/* Verify */
#resend_code {
  background-color: #6f446c;
}