<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>Registro</title>
</head>

<body>
    
        <section class="splash vertical-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                               
                                <figure>
                                    <img class="img-responsive" src="../assets/images/logo-white.png" alt="logo-white" width="100px">
                                </figure>
                    
                </div>
                <div class="col-xs-12">
                               
                        <figure>
                            <img class="img-responsive" src="../assets/images/check.png" alt="logo-white" width="100px">
                        </figure>
            
        </div>
            </div>
        </div>
            </section>
  
  <!-- Materialize core JavaScript -->
   
  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
</body>

</html>