<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="shortcut icon" href="../assets/images/favicon.ico">
  <!-- material-icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.css" />
  <!-- main.css-->
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <title>SingUp</title>
</head>

<body>
  <div class="row ">
    <div class="col s2 ">
      <a href="signup.html">
        <i class="material-icons prefix  back">keyboard_arrow_left</i>
      </a>
    </div>
    <div class="col s10 ">
      <h4 class="title">Verify Phone Number</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="center-align">Join now for free ride credit</p>
    </div>
  </div>

  <hr>
  <form>
    <div class="row">
      <div class="input-field col s12">
        <input id="input_code" type="text">
        <label for="input_code">Codigo</label>
      </div>
    </div>


    <div class="row">
      <div class="col s12">

        <h6 class="center-align">Enter the code sent to +52</h6>
      </div>
    </div>

    <br>
    <br>
    <button type="button" class="btn modal-trigger center" id="resend_code" data-target="myModal">
      <span class="center">Resend Code</span>
    </button>

    <br>
    <br>
    <div class="row ">
      <div class="col s12">

        <button type="button" class="btn btn-default center" id="next" disabled>
          <span class="center">NEXT</span>

        </button>
      </div>

    </div>


  </form>


  <!-- Modal  Code-->
  <!-- Modal Structure -->

  <div id="myModal" class="modal">
    <div class="modal-content">
      <h4>Codigo de Confirmación</h4>
      <p>Tu código de verificación es
        <span id="code"></span>
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->

  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js//materialize.min.js"></script>
  <script src="../js/functions.js"></script>

  <script src="../js/verify.js"></script>

</body>

</html>